<div id="mySidenav" class="sidenav">
  <a  class="closebtn" (click)="closeNav()">&times;</a>
  <div class="container col-md-12">
	<div class=" text-center mt-5 ">
	<h1>Advanced Search</h1>
	</div>
	<div class="row ">
	  <div class="col-lg-12 mx-auto">
		  <div class="card mt-2 mx-auto p-4 bg-light">
			  <div class="card-body bg-light">
				  <div class="container col-lg-12">
					  <form id="advanced-search-form" role="form">
						  <div class="controls">
							  <div class="row">
								  <div class="col-md-6">
									<div class="form-group"> 
										<label for="form_jobcode">Job Code</label> 
										<input id="form_jobcode" type="text" name="jobcode" class="form-control" placeholder="Please enter Job Code" value={{selectedRowObject?.jobCode}} > 
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group"> 
										<label for="form_itemcode">Item Code</label> 
										<input id="form_itemcode" type="text" name="itemcode" class="form-control" placeholder="Please enter Item Code" value={{selectedRowObject?.itemCode}}> 
									</div>
								  </div>
							  </div>
							  <div class="row">
								  <div class="col-md-6">
									<div class="form-group"> 
										<label for="form_unit">Unit</label> 
										<input id="form_unit" type="text" name="unit" class="form-control" placeholder="Please enter Unit" value={{selectedRowObject?.unit}}>
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group"> 
										<label for="form_charge">Charge</label> 
										<input id="form_charge" type="text" name="charge" class="form-control" placeholder="Please enter Charge" value={{selectedRowObject?.charge}}> 
									</div>
								  </div>
							  </div>
							  <div class="row">
								  <div class="col-md-6">
									<div class="form-group"> 
										<label for="form_costcenter">Cost Center</label> 
										<input id="form_costcenter" type="text" name="costcenter" class="form-control" placeholder="Please enter Cost Center" value={{selectedRowObject?.costcenter}}> 
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group"> 
										<label for="form_amount">Amount</label> 
										<input id="form_amount" type="text" name="amount" class="form-control" placeholder="Please enter Amount" value={{selectedRowObject?.amount}}> 
									</div>
								  </div>
							  </div>
							  <div class="row">
								  <div class="col-md-12">
									<div class="form-group"> 
										<label for="form_description">Description</label> 
										<textarea id="form_description" name="description" class="form-control" placeholder="Write your Description here." rows="4" value={{selectedRowObject?.description}}></textarea>
									</div>
								  </div>
								  <div class="col-md-12">
									<div class="form-group"> 
										<label for="form_note">Note</label> 
										<textarea id="form_note" name="note" class="form-control" placeholder="Write Note here." rows="4" value={{selectedRowObject?.notes}} ></textarea>
									</div>
								  </div>
								  <div class="col-md-12"> <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value="Search"> </div>
							  </div>
						  </div>
					  </form>
				  </div>
			  </div>
		  </div> <!-- /.8 -->
	  </div> <!-- /.row-->
	</div>
</div>


</div>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">

  <div class="container" style="margin-top: 5%">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
            <th>Action</th>
            <th>Job Code</th>
            <th>Item Code</th>
            <th>Descriprtion</th>
            <th>Notes</th>
            <th>Unit</th>
            <th>Charge</th>
            <th>Cost Center</th>
            <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dynamic of dynamicArray; let i = index;">
          <td class="text-center" (click)="deleteRow(i)">
            <i class="glyphicon glyphicon-trash"></i>
          </td>
          <td>
            <div class="input-group">
              <input [(ngModel)]="dynamic.jobCode" class="form-control" type="text" />
              <span class="input-group-addon" (click)="openNav(dynamic)"><i class="glyphicon glyphicon-question-sign"></i></span>
            </div>
          </td>
          <td>
            <div class="input-group">
              <input [(ngModel)]="dynamic.itemCode" class="form-control" type="text" />
              <span class="input-group-addon" (click)="openNav(dynamic)"><i class="glyphicon glyphicon-question-sign"></i></span>
            </div>
          </td>
          <td>
            <input [(ngModel)]="dynamic.description" class="form-control" type="text"/>
          </td>
          <td>
            <input [(ngModel)]="dynamic.notes" class="form-control" type="text" />
          </td>
          <td>
            <input [(ngModel)]="dynamic.unit" class="form-control" type="text" />
          </td>
          <td>
            <input [(ngModel)]="dynamic.charge" class="form-control" type="text"/>
          </td>
          <td>
            <div class="input-group">
              <input [(ngModel)]="dynamic.costcenter" class="form-control" type="text"/>
              <span class="input-group-addon" (click)="openNav(dynamic)"><i class="glyphicon glyphicon-question-sign" ></i></span>
            </div>
          </td>
          <td>
            <input [(ngModel)]="dynamic.amount" class="form-control" type="text"/>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="addRow(index)" class="btn btn-default">scan</button>
  </div>
</div>


<!-- side nav form sample -->





