<p>home works!</p>
<!-- <button (click)="getMockService()">Get Mock Service</button>  -->

<div class="container">
    <h2>Lock Glyph</h2>
    <p>Lock icon: <span class="glyphicon glyphicon-lock"></span></p>    
    <p>Lock icon as a link:
      <a href="#">
        <span class="glyphicon glyphicon-lock"></span>
      </a>
    </p>
    <p>Lock icon on a button:
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-lock"></span> Lock
      </button>
    </p>
    <p>Lock icon on a styled link button:
      <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-lock"></span> Lock
      </a>
    </p> 
  </div>

